@using Ecommerce.DTOs.OrderItemDTOs
@model List<GetAllOrderItemDTOs>


@{
    ViewData["Title"] = "GetAllItems";
}

<h1>GetAllItems</h1>
<a class="btn btn-outline-info mb-2" href="/Order/GetAll" role="button">&#9664; Back</a>
@* <a class="btn btn-outline-info mb-2" href="/OrderItems/CreateItems" role="button">Create New Item</a> *@
<br />

<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<table class="table table-light table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">Product-Item</th>
            @* <th scope="col">OrderItem-ID</th> *@
            <th scope="col">Quantity</th>
            <th scope="col">Total_Price</th>
        
        </tr>
    </thead>
    <tbody>
      
        
        @foreach(var item in Model)
        {

            <tr>

           <td>
            <img style="width:150px ; height:150px " src=" @item.PrdImage" alt="Alternate Text" />  <br />
            Name: @item.PrdName <br />
            Desc: @item.PrdDesc<br />
            Price: $@item.PrdPrice <br />
            
        </td>
            @* <td>ID : @item.Id</td> *@
            <td><bold>Quantity</bold>: @item.Quantity</td>
            <td>$@item.TotalPricee</td>
            
        </tr>
        
            
        }
     
    </tbody>
</table