@*   @model IEnumerable<Ecommerce.DTOs.Shipment.GetAllDto> *@
      @using Ecommerce.DTOs.Payment
      @model UpdateDTOs
<h1>payment</h1>

<a class="btn btn-outline-info mb-2" href="/Order/GetAll" role="button">&#9664; Back</a>

@* <p>
    <a asp-controller="Payment" asp-action="Create">Create New</a>
</p>
 *@
<table class="table">
    <thead>
        <tr>
            <th>PaymentDate</th>
            <th>Amount</th>
            <th>PaymentMethod_en</th>
            @* <th>PaymentMethod_ar</th> *@
            <th>Action</th>
            
            
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>@Model.PaymentDate</td>
                <td>@Model.Amount</td>
                <td>@Model.PaymentMethod_en</td>
                @* <td>@Payment.PaymentMethod_ar</td> *@
                @* <td>@Payment.CustomerId</td> *@
               
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </td>
            </tr>
        
    </tbody>
</table>

