@*   @model IEnumerable<Ecommerce.DTOs.Shipment.GetAllDto> *@
      @using Ecommerce.DTOs.Payment
      @model List<GetAllDtos>
<h1>payment</h1>

<p>
    <a asp-controller="Payment" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>PaymentDate</th>
            <th>Amount</th>
            <th>PaymentMethod_en</th>
            <th>PaymentMethod_ar</th>
            <th>Action</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var Payment in Model)
        {
            <tr>
                <td>@Payment.PaymentDate</td>
                <td>@Payment.Amount</td>
                <td>@Payment.PaymentMethod_en</td>
                <td>@Payment.PaymentMethod_ar</td>
                @* <td>@Payment.CustomerId</td> *@
               
                <td>
                    <a asp-action="Edit" asp-route-id="@Payment.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@Payment.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

