  @*   @model IEnumerable<Ecommerce.DTOs.Shipment.GetAllDto> *@
      @using Ecommerce.DTOs.Shipment
      @model UpdateDTO
<h1>Shipments</h1>

<a class="btn btn-outline-info mb-2" href="/Order/GetAll" role="button">&#9664; Back</a>

@* <p>
    <a asp-controller="Shipment" asp-action="Create">Create New</a>
</p>
 *@
<table class="table">
    <thead>
        <tr>
            <th>Shipment Date</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>ZipCode</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>@Model.ShipmentDate</td>
                <td>@Model.Address</td>
                <td>@Model.City</td>
              <td>@Model.Country</td>
              <td>@Model.ZipCode</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </td>
            </tr>
      
    </tbody>
</table>

