@using Ecommerce.DTOs.DTOsCategories
@* @model GetAllCategoryDTOs *@
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
@* <button class="btn btn-primary"> <a href="Category/CreateCategory"> New Category</a> </button> *@
<a class="btn btn-primary" href="CreateCategory">New Category</a>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"];
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name_En</th>
            <th scope="col">Name_Ar</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var cat in Model)
        {
            <tr>
                <th scope="row">@(++i)</th>
                <td>@(cat.Name_en)</td>
                <td>@(cat.Name_ar)</td>
                <td>
                    <img src="@(cat.Image)" width="50px" height="50px" />
                </td>
                <td>
                    <div style="display:flex">
                        <a class="btn btn-primary btn-s" asp-action="Updatedcategory" asp-route-id="@(cat.Id)"> Update</a>
                        &nbsp;&nbsp;
                        @* <a asp-action="DeleteCategory" asp-route-id="@(cat.Id)" class="btn btn-danger btn-s">
                            <span class="glyphicon glyphicon-remove-circle"></span> X
                        </a> *@
                        <form asp-action="DeleteCategory" asp-controller="Category" asp-route-id="@cat.Id" method="post" onsubmit="return confirmDelete();">
                            <button type="submit" class="btn btn-danger">X</button>
                        </form>
                    </div>
                </td>
               
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    function confirmDelete() {
        return confirm('Are you sure you want to delete this item?');
    }
</script>